<div class="row top">
  <div class="col m3 offset-m3 center">
    <h3>Authors</h3>
  </div>
  <div class="col m3 center">
    <a class="btn-floating btn-large waves-effect waves-light orange accent-3" href="/addauthor"><i class="material-icons">add</i></a>
  </div>
</div>
<div class='row'>
  {{#each author}}
    <div class='col m3'>
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator height" src="{{this.portrait_url}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i>{{this.first_name}} {{this.last_name}}</span>
          <p><a href="/{{this.id}}/detailauthor">More Info</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{this.first_name}} {{this.last_name}}<i class="material-icons right">close</i></span>
          <p>{{this.biography}}</p>
          <div class="row">
            <div class="col m4 left">
              <a href="/{{this.id}}/editauthor"><i class="material-icons">mode_edit</i></a>
            </div>
            <div class="col m4 center">
              <a href="/{{this.id}}/detailauthor">Details</a>
            </div>
            <div class="col m4 right">
              <a href="/{{this.id}}/deleteauthor" class="right"><i class="material-icons">delete</i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>
