<div class="row detail">
  <div class="col m2 offset-m2">
    <img src="{{book.cover_url}}" class="detailimg">
  </div>
  <div class="col m6 offset-m1">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">{{book.title}}</span>
        <p>{{book.genre}}</p>
        <p>{{book.description}}</p>
      </div>
      <div class="card-action">
        <a href="#">Edit Details</a>
        <a href="/{{book.id}}/bookdelete" class="right">Delete {{book.title}}</a>
      </div>
    </div>
  </div>
</div>
