<div class='row books'>
  {{#each book}}
    <div class='col m3'>
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator height" src="{{this.cover_url}}">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
          <p><a href="/{{this.id}}/detailbook">More Info</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{this.title}}<i class="material-icons right">close</i></span>
          <p>{{this.genre}}</p>
          <p>{{this.description}}</p>
          <a href="/{{this.id}}/editbook">Edit Details</a>
          <a href="/{{this.id}}/deletebook" class="right">Delete</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>
<a class="waves-effect waves-light btn" href='/addbook'>Add a Book</a>
