<div class="container enter">
  <div class="row center">
    <h4 class="indent">Edit {{author.first_name}} {{author.last_name}}</h4>
  </div>
<div class="row">
    <form class="col s12" action="/{{author.id}}/editauthor" method="post">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate" name="first_name" value="{{author.first_name}}">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" name="last_name" value="{{author.last_name}}">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="biography" class="materialize-textarea" name="biography">{{author.biography}}</textarea>
          <label for="biography">Biography</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="portrait_url" type="text" class="validate" name="portrait_url" value="{{author.portrait_url}}">
          <label for="portrait_url">Portrait URL</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 center">
          <input id="submit" type="submit" value="Update">
        </div>
      </div>
    </form>
    <div class="col m4 offset-m4 center">
      <a class="waves-effect waves-light btn orange accent-3" href="/authors">Back to Authors</a>
    </div>
  </div>
